div 
	a(href="/test") Hello world
div 
	| Read record from the database, and stored the data back to the DB.
	| Priting the updated time of the record before and after writing.
	
div
	span Currently #{date('Y-m-d H:i:s', $updated)}
div
	span Record val #{date('Y-m-d H:i:s', $record?->getUpdateTimestamp())}
div
	span Originally #{date('Y-m-d H:i:s', $original)}
	
- $url = url()->to([\app\controllers\UploadController::class, 'upload']);
form(method="POST", action="${url}", enctype="multipart/form-data") 
	input(type="file", name="upload")
	input(type="submit")