[submodule "spitfire"]
	path = spitfire
	url = https://phabricator.magic3w.com/source/spitfire.git
[submodule "_SCSS"]
	path = assets/src/css/_
	url = https://phabricator.magic3w.com/source/underscoreSCSS.git
[submodule "m3.js"]
	path = assets/src/js/m3
	url = https://phabricator.magic3w.com/source/M3JS.git
